body {
  background-color: #8bacb7;
}

.App {
  text-align: center;
  font-family: 'Noto Sans GP', sans-serif;
  color: seashell;
  background-color: #8bacb7;
}

.backgroundspread {
  transition: backgroundImage 1s
}

@media only screen and (max-width: 420px) {

  .btn-primary {
    font-size: 2.5rem;
  }

  .backgroundspread {
    height: 380px !important;
    width: 100% !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
  }

  #search-container {
    width: 80% !important;
    padding: 10px !important;
    margin: 0 auto !important
  }

  #search-container span {
    font-size: 3rem !important;
  }

  #searchbar {
    width: 280px !important
  }

  #forecast-display {   
    display: flex !important;
    overflow-x: auto;  
  }

  #forecast-display ul {
    display: flex !important;
    align-items: center;
    height: 20vh !important;
  }

  #attractions-container {
    display: flex !important;
    overflow-x: auto;
  }

  #attractions-display {
    display: flex !important;
    align-items: center;
    height: 40vh !important
  }
}

@media only screen and (max-width: 525px) and (min-width: 421px) {
  #search-container span {
    font-size: 5em !important
  }
}

@media only screen and (max-width: 1030px) {

  #search-field {
    height: 6rem
  }
  #search-container {
    width: 80% !important;
    padding: 10px !important;
    margin: 0 auto !important
  }

  #forecast-display {   
    
    display: flex !important;
    overflow-x: auto;  
  }

  #forecast-display ul {
    display: flex !important;
    align-items: center;
    height: 20vh !important;
  }

  #attractions-container {
    display: flex !important;
    overflow-x: auto;
  }

  #attractions-display {
    display: flex !important;
    align-items: center;
    height: 38vh !important
  }
}

@media only screen and (max-width: 800px) and (min-width: 421px) {

  .btn-primary {
    padding: 5px 24px;
    font-size: 4rem;
  }

  #search-field {
    height: 6rem
  }

  .backgroundspread {
   
    width: 100% !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
  }

  #search-container {
    width: 80% !important;
    padding: 10px !important;
    margin: 0 auto !important
  }

  #forecast-display {   
    display: flex !important;
    overflow-x: auto;  
  }

  #forecast-display ul {
    display: flex !important;
    align-items: center;
    height: 20vh !important;
  }

  #attractions-container {
    display: flex !important;
    overflow-x: auto;
  }

  #attractions-display {
    display: flex !important;
    align-items: center;
    height: 33vh !important
  }
}

@media only screen and (max-width: 1080px) and (min-width: 500px) {
  .btn-primary {
    padding: 5px 24px;
    font-size: 4rem;
  }

}

@media only screen and (max-width: 1000px) and (orientation: landscape) {

  .backgroundspread {
    height: 375px !important;
    width: 100% !important
  }

  #forecast-display {
    height: 160px
  }

  #attractions-display {
    height: 40vh !important
  }

  .btn-primary {
    padding: 5px 24px;
    font-size: 20px
  }

  #search-field {
    height: 4rem
  }  

  #attractions-container {
    padding: 20px 0
  }

  #attractions-display {
    height: 70vh !important;
  
  }
}